
body {
    background-image: url("https://github.com/forevermango/forevermango.github.io/blob/main/tetris/images/bg.jpg?raw=true");
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: greenyellow;
    overflow: hidden;
    font-weight: bold;
}

#score {
    text-align: center;
    color: greenyellow;
}

canvas {
    align-content: center;
    display: block;
    margin:0 auto;
}

h2 {
    color: greenyellow;
    font-style: oblique;
    font-weight: bold;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}