
body {
    background-image: url("../images/bg.jpg");
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: rgb(235, 19, 235);
    overflow: hidden;
    font-weight: bold;
}

#score {
    text-align: center;
    color: rgb(235, 19, 235);
}

canvas {
    align-content: center;
    display: block;
    margin:0 auto;
}

h2 {
    color: hotpink;
}
