
body {
    background-image: url('/home/raahima/tetris/tetris/images/bg.jpg');
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: aliceblue;
    overflow: hidden;
}

#score {
    text-align: center;
}

canvas {
    align-content: center;
    display: block;
    margin:0 auto;
}